/* Color Pallete   https://colorhunt.co/palette/252807  */
/* Tags */
a {
  color: #6667AB;
  text-decoration: none;
}
a:hover {
  color: #81839A;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.625rem;
}

h1 {
  color: #6667AB;
  font-family: 'Literata', serif;
  font-size: 5.625rem;
  margin: 2.5rem auto 0 auto;
  padding-bottom: 10px;
}

h2 {
  color: #6667AB;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  color: #6667AB;
  font-family: 'Rubik', sans-serif;
}

hr{
  border-color: #27293D;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 10%;
  margin: 100px auto 100px auto;
}

p {
  font-family: 'Rubik', sans-serif;
  line-height: 2;
}

samp{
  color: #6667AB;
  font-size: 2rem;
  font-weight: bold;
}

/* Classes */
.baseball-card{
  display: none;
}

.bottom-container {
  background-color: #27293d;
  color: #CFDCE8;
  padding-top: 50px;
}

.cloud-bottom {
  position: absolute;
  right: 25%;
  bottom: 300px;
}

.cloud-top {
  position: absolute;
  left: 20%;
  top: 50px;
}

.copyright {
  color:#CFDCE8;
  font-size: .75rem;
}

.credits {
  color: #CFDCE8;
}

.flex-container {
  display: flex;
  padding-top: 100px;
  padding-bottom: 50px;
}

.flex-child {
  flex: 1;
}

.footer-link{
  margin: 50px 10px 30px;
  padding-bottom: 30px;
}

.intro{
  width: 90%;
  text-align: left;
  margin: auto;
}

.light-blue {
  background-color: #CFDCE8;
}

.middle-container {
  margin: 100px 0;
}

.mountain{
  position: relative;
}

.picture-column{
  margin: auto;
  min-width: 50rem;
}

.pigeon {
  position: absolute;
  right: 20%;
}

.profile-column{
  margin: auto;
  min-width: 30rem;
  max-width: 30rem;
}

.skill-image{
  float: left;
  margin-right: 30px;
  width: 20%;
}

.skill-row {
  display: inline-block;
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;
}

.intro p {
  padding-left: 2rem;
}

/* Colors */
.ancient-water{
  color: #CFDCE8;
}

.ancient-water-back{
  background-color: #CFDCE8;
}

.meritime-blue{
  color: #27293d;
}

.meritime-blue-back{
  background-color: #27293d;
}

.silver-bullet{
  color: #81839A;
}

.silver-bullet-back{
  background-color: #81839A;
}

.very-peri{
  color: #6667AB;
}

.very-peri-back{
  background-color: #6667AB;
}

.viva-magenta{
  color: #BB2649;
}

.viva-magenta-back{
  background-color: #BB2649;
}

/* Style the span to look like a link */
span.modal-link {
  color: #6667AB;
  text-decoration: underline;
  cursor: pointer;
}

/* Change the color when hovering over the span */
span.modal-link:hover {
  color: #BB2649;
}

.modal-close{
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #6667AB;
}

.modal-close:hover{
  color: #BB2649;
  animation-name: rotate;
  animation-duration: 1s;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-0.5turn);
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 85%;
  background-color: white;
  border-radius: 5px;
  border-top: 1px groove #6667AB;
  border-left: 1px groove #6667AB;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  display: none;
}

.modal-content {
  padding: 2rem;
}
/* IDs */